  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav id="navbar">
    <nav id="logo">
      <a id="navlogo" href="/">
      <i class="fa-solid fa-beer-mug-empty fa-2x fas"></i>
      <div id="swill">Swill</div>
      </a>
    </nav>
    <a href="/breweries">Browse Breweries</a>
    <a href="/profiles">View Profiles</a>
    <% if (user) { %>
      <a href="/profiles/<%= user.profile._id %>">My Profile</a>
      <a href="/auth/logout" class="log">Logout</a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link log">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
