main {
  background-image: url('../../images/backgrounds/tap.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-position: bottom;
}

.wrap {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 10px;
  text-align: center;
}

table {
  font-size: 2rem;
  table-layout: fixed;
  text-align: center;
}

td {
  width: auto;
  padding: 5px;
  vertical-align: top;
}

td:nth-child(2) {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}