main {
  background-image: url('../images/backgrounds/brewtankaisle.jpg');
  height: 100vh;
  background-position: center;
}

.wrap {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0 0 10px 0;
}