table {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.65);
}

label {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 5px;
}

.search {
  width: 100vw;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

input {
  width: 20vw;
}

th {
  font-size: 2.5rem;
}

td {
  padding: 2px 5px;
}

main {
  background-image: url('../../images/backgrounds/brewtank.jpg');
}

#details {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}