.table-md {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.65);
}

h1 {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

label {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 5px;
}

.search {
  width: 100vw;
  font-size: 1.7rem;
  text-align: center;
  align-items: center;
  padding: 5px;
}

input {
  width: 20vw;
}

th {
  font-size: 2.5rem;
  text-align: center;
}

td {
  padding: 4px 25px;
  font-size: 1.7rem;
}

main {
  background-image: url('../../images/backgrounds/brewtank.jpg');
  background-attachment: fixed;
  height: 100vh;
  justify-content: flex-start;
  background-position: top;
}

#details {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}