<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<form class="search" action="">
  <label>Name:
    <input type="text" name="name" autocomplete="off">
  </label>
  <label>City:
    <input type="text" name="city" autocomplete="off">
  </label>
  <label>State:
    <input type="text" name="state" autocomplete="off">
  </label>
  <button type="submit">Search</button>
</form>
<h1>Breweries</h1>




<%- include('../partials/footer') %>
